h1 {
  font-family: 'Verdana';
 color: 	#FFD700;
 padding-right: : 10em;
}
body {

 background-image: url("prev.jpg");

 background-size: cover;
 backdrop-filter: blur(0px);
 font-family: 'Verdana';
font-size: 150%;
color: 	#000000;
padding-left: 17em;
padding-top: 50px;
padding-right: 80px;

}
.One{
  width:30%;
  display:inline-block;
}
h2 {
  font-family: 'Verdana';
 color: 	#FFD700;
 padding-right: : 15px;
display:inline-block;
 float : right;
   width:40%;
}
